dist: trusty
sudo: false

language: node_js
node_js:
  - "10"

install:
  - npm install -g npm
  - npm install -g truffle
  - npm install -g ganache-cli
  - npm install -g surya
  - npm install -g codecov
  - npm install -g istanbul
  - npm install


# before_script:
#   - testrpc > testrpc.log &

script:
  - istanbul cover ./node_modules/mocha/bin/_mocha --reporter lcovonly -- -R spec
  - codecov
  - ./scripts/test.sh
